backend/venv/
__pycache__/
*.py[cod]
*$py.class
.env
*.log
celery_logs.txt
latest_celery_logs.txt
.terraform/
terraform.tfstate*
.terraform.lock.hcl
tfplan
backend/multicloud.db

backend/multi-venv

backend/__pycache__/main.cpython-311.pyc
backend/app/__pycache__/worker.cpython-311.pyc
backend/app/api/__pycache__/deps.cpython-311.pyc
backend/app/core/__pycache__/celery_app.cpython-311.pyc
backend/app/core/__pycache__/security.cpython-311.pyc
backend/app/db/__pycache__/base.cpython-311.pyc
backend/app/models/__pycache__/credential.cpython-311.pyc
backend/app/models/__pycache__/resource.cpython-311.pyc
backend/app/models/__pycache__/user.cpython-311.pyc
backend/app/schemas/__pycache__/credential.cpython-311.pyc
backend/app/schemas/__pycache__/resource.cpython-311.pyc
backend/app/schemas/__pycache__/user.cpython-311.pyc

backend/__pycache__/main.cpython-311.pyc
backend/app/__pycache__/worker.cpython-311.pyc
backend/app/api/__pycache__/deps.cpython-311.pyc
backend/app/core/__pycache__/celery_app.cpython-311.pyc
backend/app/core/__pycache__/security.cpython-311.pyc
backend/app/db/__pycache__/base.cpython-311.pyc
backend/app/models/__pycache__/credential.cpython-311.pyc
backend/app/models/__pycache__/resource.cpython-311.pyc
backend/app/models/__pycache__/user.cpython-311.pyc
backend/app/schemas/__pycache__/credential.cpython-311.pyc
backend/app/schemas/__pycache__/resource.cpython-311.pyc
backend/app/schemas/__pycache__/user.cpython-311.pyc
