fastapi
uvicorn[standard]
sqlalchemy
psycopg2-binary
pydantic
python-dotenv
python-jose[cryptography]
passlib[bcrypt]
bcrypt==4.0.1
celery
redis
requests
cryptography
email-validator
python-multipart
boto3
azure-identity
azure-mgmt-compute
azure-mgmt-resource
azure-mgmt-storage
azure-mgmt-costmanagement
google-cloud-compute
google-api-python-client
google-auth
